<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thêm vào giỏ hàng</title>
</head>

<body>
    <h1>Thêm vào giỏ hàng</h1>
    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } else { %>
            <p>Sản phẩm đã được thêm vào giỏ hàng!</p>
            <p>Tên sản phẩm: <%= cartItem.product.name %>
            </p>
            <p>Số lượng: <%= cartItem.quantity %>
            </p>
            <% } %>
                <a href="/order/cart">Xem giỏ hàng</a>
</body>

</html>